
.movie-card {
  display: flex;
  flex-direction: column;
  background-color: #1c1f26;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease;
  height: 100%;
}


.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.movie-card:hover {
  transform: scale(1.02);
}

.movie-poster {
  width: 150px;
  height: 225px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.movie-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.movie-title {
  font-size: 1.2rem;
  color: #70cfff;
  margin: 0 0 0.5rem 0;
}

.movie-overview {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 1rem;
}

.favorite-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #70cfff;
  align-self: flex-start;
}
